/* General Reset */
* {
    outline: none;
}
body {
    margin: 0;
    font: 12px/14px Arial, Helvetica, sans-serif;
}
img { border-style: none;}
input,
textarea,
select {
    color: #000;
    vertical-align: middle;
    font: 100% Arial, Helvetica, sans-serif;
}
form, fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}
blockquote, q { quotes: none;}
q:before,
q:after {content: '';}
a {
    color: #000;
    text-decoration: none;
}
a:hover { text-decoration: underline;}
a:focus,
input:focus,
textarea:focus,
select:focus { outline: none;}
ul, li, dl, dd, dt {
    margin: 0;
}
/* General settings */
@font-face {
    font-family: Roboto;
    src: url(../fonts/3966.ttf);
}
@font-face {
    font-family: "Material-Design-Icons";
    src: url("../fonts/Material-Design-Icons.eot?-g7cqhn");
    src: url("../fonts/Material-Design-Icons.eot?#iefix-g7cqhn") format("embedded-opentype"), url("../fonts/Material-Design-Icons.woff?-g7cqhn") format("woff"), url("../fonts/Material-Design-Icons.ttf?-g7cqhn") format("truetype"), url("../fonts/Material-Design-Icons.svg?-g7cqhn#Material-Design-Icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

.collapsedMenu:before {
    font-family: "Material-Design-Icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.wrapper {
    background: url(../img/bg.png) no-repeat;
    background-size: 100%;
}
.wrapperOther {
    background: url(../img/bgHead.png) no-repeat;
    background-size: 100%;
}
.headerWrapper {
    background: rgba(0, 0, 0, .4);
}
#header {
    width: 60%;
    margin: 0 auto;
    height: 140px;
    position: relative;
}
#header .logo {
    float: left;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../img/multiсont-logo.png) no-repeat;
    background-size: contain;
    width: 342px;
    height: 130px;
    margin-top: 10px;
}
#header .logo a {
    display: block;
    height: 100%;
}
#header .contacts {
    float: left;
}
.contacts {
    margin: 20px 0 0 70px;
    color: white;
    font-size: 16px;
    text-shadow: 1px 1px 1px black;
}
.contacts td {
    padding: 5px;
}
.contacts td:nth-child(2) {
    text-align: right;
}
.contacts i {
    display: block;
    width: 24px;
    height: 24px;
    background-size: 100%;
}
.phoneIcon {
    background: url(../img/phone-ico.png) no-repeat;
}
.faxIcon {
    background: url(../img/fax-ico.png) no-repeat;
}
.mailIcon {
    background: url(../img/mail-ico.png) no-repeat;
}
.languages {
    position: absolute;
    top: 10px;
    right: 10px;
}
.languages span {
    font-size: 14px;
    color: white;
    display: block;
    text-align: right;
    margin: 0 5px 5px 0;
}
.languages button {
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    border: 2px solid rgb(36, 82, 127);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.languages button:before {
    display: block;
    content: '';
    position: absolute;
    background: black;
    opacity: .3;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
}
#ru {
    background: url(../img/ru.png) 100% 50% no-repeat;
}
#ua {
    background: url(../img/ua.png) 100% 50% no-repeat;
}
#en {
    background: url(../img/en.png) 50% 50% no-repeat;
}
.languages button:hover, .languages .activeLng {
    border: 2px solid rgb(0, 44, 86);
    color: white;
}
.languages button:hover:before, .languages .activeLng:before {
    opacity: 0;
}
.collapsedMenu {
    display: none;
}
.main-nav {
    list-style: none;
    margin: 0;
    padding: 0 300px;
    background: rgba(189, 214, 238, .8);
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,.5);
}
.main-nav:after {
    clear: both;
    content: '';
    display: block;
}
.main-nav li {
    float: left;
    font-weight: bold;
    font-size: 16px;
    line-height: 49px;
    padding: 0;
    position: relative;
}
.main-nav li a {
    color: #343449;
    padding: 16px;
}
.main-nav li a:hover {
    color: #fff;
    background: #1f4e79;
    text-shadow: none;
    text-decoration: none;
}
.main-nav ul {
    margin: 0;
    padding: 0;
    position: absolute;
    display: none;
    list-style: none;
    background: rgba(189, 214, 238, .8);
    top: 49px;
    left: 0;
    width: auto;
    white-space: nowrap;
    box-shadow: 1px 3px 4px 2px rgba(0,0,0,.5);
}
#footer .main-nav {
    background: #bdd6ee;
}
#footer .main-nav ul {
    top: -252px;
    box-shadow: 1px -3px 3px 1px rgba(0,0,0,.5)
}
.main-nav li:hover .inside { display: block; }
.main-nav ul li {
    float: none;
    font: 16px/40px Arial, Helvetica, sans-serif;
    padding: 0;
}
.main-nav ul li:first-child { border: none; }
.main-nav ul li a {
    padding: 1px 9px;
    display: block;
    color: #000;
}
.main-nav ul li a:hover {
    background: #1f4e79;
    color: #fff;
}
#content.mainContent {
    padding-top: calc(56.25vw - 278px);
}
.wrapperOther #content {
    background: white;
    padding: 20px 20% 40px;
    font: 20px/26px Roboto;
    text-align: justify;
}
.wrapperOther #content .title {
    color: #3d6df9;
    font-size: 30px;
    line-height: 36px;
}
.ourOffers, .members, .honors, .partners {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    background: rgba(36, 82, 127, .8);
    color: white;
    margin: 0;
    padding: 20px 0;
}
.offersWrapper, .honorsWrapper, .partnersWrapper {
    padding: 20px 20%;
}
.offersBlock, .membersBlock, .partnersBlock, .honorsBlock {
    display: inline-block;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
}
.offersBlock {
    width: 33%;
}
.offersBlock img, .membersBlock img, .honorsBlock img, .partnersBlock img {
    width: 70%;
    margin-bottom: 25px;
}
.offersBlock p, .partnersBlock p {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    margin: 0;
}
.members, .honors, .partners {
    margin-bottom: 20px;
}
.membersBlock, .partnersBlock, .honorsBlock {
    width: 25%;
}
.blockFirst {
    margin-left: 25%;
}
.honorsBlock {
    vertical-align: middle;
}
.carousel {
    width: 60%;
    margin: 20px auto;
    height: 170px;
}
.carousel .slick-slide {
    width: 20%;
    vertical-align: middle;
}
.carousel div img {
    width: 70%;
}
.carousel button {
    background-size: contain;
}
.slick-next {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 60px;
}
.map {
}
#footer {
    background: #464646;
    padding: 0 0 10px;
}
#footer .contacts {
    margin: 20px auto 0;
}
.copyright {
    margin-left: 160px;
    color: white;
    font-size: 14px;
}
#scrollup {
    position: fixed;
    opacity: 0.8;
    background: #aaa;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    right: 50px;
    bottom: 50px;
    display: none;
    cursor: pointer;
    background: url(../img/up.png);
    width: 60px;
    height: 60px;
    background-size: 100%;
}

@media all and (max-width: 1280px) {
    .contacts {
        margin-left: 10px;
    }
    .contacts td {
        padding: 5px 2px;
    }
}
@media all and (max-width: 1180px) {
    #header .logo {
        width: 280px;
        height: 90px;
        margin-top: 20px;
    }
}
@media all and (max-width: 1120px) {
    .offersWrapper, .honorsWrapper, .partnersWrapper {
        padding: 20px 15%;
    }
}
@media all and (max-width: 1070px) {
    #header {
        position: static;
    }
    .languages {
        right: 3%;
    }
}
@media all and (max-width: 1030px) {
    #header {
        width: 70%;
    }
    .main-nav {
        padding: 0 20%;
    }
}
@media all and (max-width: 970px) {
    .offersWrapper, .honorsWrapper, .partnersWrapper {
        padding: 20px 5%;
    }
    .blockFirst {
        margin-left: 5%;
    }
    .membersBlock, .partnersBlock, .honorsBlock {
        width: 45%;
    }
}
@media all and (max-width: 910px) {
    #header {
        height: 105px;
    }
    #header .logo {
        margin-top: 10px;
    }
    .contacts {
        margin: 10px 0 0 5px;
    }
    .contacts td {
        padding: 2px;
    }
    #content.mainContent {
        padding-top: calc(56.25vw - 234px);
    }
    .wrapperOther #content {
        padding: 0 3% 20px;
    }
    .main-nav {
        background: rgba(189, 214, 238, 1);
    }
}
@media all and (max-width: 880px) {
    .wrapper {
        background: url(../img/bg.png) 0 90px no-repeat;
        background-size: 100%;
    }
    .wrapperOther {
        background: none;
    }
    .headerWrapper {
        background: rgba(189, 214, 238, 1);
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    #header {
        height: 90px;
        width: 100%;
    }
    #header .contacts {
        display: none;
    }
    .logo {
        margin: 0 auto !important;
        display: block;
        float: none !important;
    }
    .languages span {
        display: none;
    }
    #footer .main-nav {
        display: none !important;
    }
    .main-nav {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        display: none;
        width: 40%;
    }
    .main-nav li {
        float: none;
        line-height: 16px;
    }
    .main-nav li a {
        display: block;
    }
    .collapsedMenu {
        display: block;
        position: absolute;
        height: 50px;
        width: 50px;
        left: 20px;
        top: 10px;
    }
    .collapsedMenu:before {
        content: '\e8a1';
        font-size: 50px;
        line-height: 50px;
        color: rgba(36, 82, 127, .8)
    }
    #content.mainContent {
        padding-top: calc(56.25vw - 89px);
    }
    .main-nav ul {
        top: 10px;
        left: 10px;
        background: rgba(189, 214, 238, 1);
        z-index: 1;
        box-shadow: 1px 1px 2px 1px rgba(0,0,0,.5);
    }
}
