article, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section { display: block; }
body {
    background: #ccc;
}
.wrapper {
	width: 820px;
	height: 420px;
	background: #000;
	border-radius: 10px;
	padding: 8px;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -210px 0 0 -410px;
}
.main {
	width: 800px;
	height: 400px;
	border-radius: 10px;
	border: 2px solid #fff;
}
h1, h2, h3 {
	color: #fff;
	margin: 0;
}
		