body {
    background: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 430px;
    color: #353435;
    float: left;
    background: #b3ad97;
    margin-right: 20px;
}
li {
    display: inline-block;
    margin: 5px;
    box-sizing: border-box;
    text-align: center;
}
label {
    padding: 15px;
    width: 100px;
    height: 100px;
    background: #dfddd4;
    font-size: 20px;
    font-weight: bold !important;
}
label:before {
    display: block;
    font-size: 80px;
    margin-bottom: 10px;
}
input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
}
input[type="checkbox"]:checked + label {
    background: #55a983;
    color: white;
}
.template {
    width: 365px;
    height: 420px;
    background: url(../img/interest_screen.png) no-repeat;
    float: left;
    background-size: cover;
}